In [ ]:
#1. Variables
# variables are containers for storing data values
first_name = "Anu"  # String
age = 22            # Integer
gpa = 3.2           # Float
is_student = True   # Boolean

print(f"Hello {first_name}")
print(f"You are {age} years old")
print(f"Your GPA is {gpa}")

Hello Anu
You are 22 years old
Your GPA is 3.2

In [ ]:
#2. Typecasting
# converting one data type to another
name = "Anu P"
age = 22
gpa = 3.2
is_student = True

# Type casting
age = float(age)
gpa = int(gpa)
is_student = str(is_student)

print(type(age)) # Output type will be float
print(type(gpa)) # Output type will be int
print(type(is_student)) # Output type will be str

<class 'float'>
<class 'int'>
<class 'str'>

In [ ]:
#3. User Input
# Taking input from the keyboard (always returns a string)
name = input("What is your name?: ")
age = int(input("How old are you?: ")) # typecast to int immediately

age = age + 1
print(f"Hello {name}, next year you will be {age} years old.")

What is your name?: arnav
How old are you?: 29
Hello arnav, next year you will be 30 years old.

In [ ]:
#4. Arithmetic & Math
import math

rows = 10
# rows = rows + 1
rows += 1 # Augmented assignment operator

print(pow(2, 3))    # 2 to the power of 3
print(max(1, 5, 8)) # Finds the highest value
print(math.sqrt(64)) # Square root
print(math.ceil(9.1)) # Round up

8
8
8.0
10

In [ ]:
#5. If statements
age = int(input("Enter your age: "))

if age >= 100:
    print("You are too old to sign up!")
elif age >= 18:
    print("You are getting signed up!")
elif age < 0:
    print("You haven't been born yet!")
else:
    print("You must be 18+ to sign up.")

Enter your age: 67
You are getting signed up!

In [ ]:
#6. Logical operators
temp = 11
is_sunny = True

# 1. AND (Both must be True)
if temp > 20 and is_sunny:
    print("It's a perfect day for a walk!")

# 2. OR (At least one must be True)
if temp > 30 or is_sunny:
    print("The weather is decent enough.")

# 3. NOT (Flips the result. True becomes False, False becomes True)
is_raining = True

if not is_raining:
    print("It's not raining, no umbrella needed!")
else:
    print("Better grab an umbrella.")

The weather is decent enough.
Better grab an umbrella.

In [ ]:
#7. Ternary operator
#used to write a simple if else block on a single line
''' normal way
age = 18
if age >= 18:
    status = "Adult"
else:
    status = "Child"
    '''
#using ternary operator
status = "Adult" if age >= 18 else "Child"

In [ ]:
#8. String Methods
name = "arnav po"

print(len(name))        # length of string
print(name.find("o"))   # find index of first 'o'
print(name.capitalize())# capitalize first letter
print(name.upper())     # all uppercase
print(name.isdigit())   # is the string only digits?
print(name.replace("o", "a")) #replace letters

8
7
Arnav po
ARNAV PO
False
arnav pa

In [ ]:
#9. String Indexing
# [start : end : step]
credit_number = "1234-5678-9012"

print(credit_number[0])      # Get first character
print(credit_number[:4])     # Get first 4 characters
print(credit_number[5:9])    # Get middle slice
print(credit_number[::2])    # Get every second character
print(credit_number[::-1])   # Reverse the string

1
1234
5678
13-6891
2109-8765-4321

In [ ]:
#10. Format Specifiers
price = 3.14159
item = "Apple"

print(f"The price is ${price:.2f}") # Round to 2 decimal places
print(f"The price is ${price:10}")  # Allocate 10 spaces (total spaces will be 10)
print(f"The price is ${price:08}") # Zero padding (total spaces will be 8)

The price is $3.14
The price is $   3.14159
The price is $03.14159

In [ ]:
#11. For loops
# Iterating over a range or sequence
for i in range(1, 11): # Counts 1 to 10
    print(i)

for x in "Python":
    print(x)

1
2
3
4
5
6
7
8
9
10
P
y
t
h
o
n

In [ ]:
#12. While loops
name = ""
while len(name) == 0:
    name = input("Enter your name: ")
print(f"Hello {name}")
#no name output wont be allowed

Enter your name: ap
Hello ap

In [ ]:
#13. Nested loops
rows = int(input("Enter rows: "))
cols = int(input("Enter columns: "))
symbol = input("Enter symbol: ")

for x in range(rows):
    for y in range(cols):
        print(symbol, end="")
    print() # new line after each row

Enter rows: 4
Enter columns: 3
Enter symbol: e
eee
eee
eee
eee

In [ ]:
#14. Lists, Sets, and Tuples
# 21. working with collections

# --- lists (the flexible one) ---
# use this for stuff you need to change or keep in order
my_list = ["apple", "banana", "cherry"]

my_list.append("date")    # adds to end
my_list[0] = "blueberry"  # changes first item
my_list.remove("banana")  # deletes by name
my_list.pop(1)            # deletes by index

print(f"list: {my_list}")


# --- sets (the unique one) ---
# use this to clean up duplicates or check membership fast
# note: order will jump around every time you run it
my_set = {"pizza", "taco", "sushi", "pizza"}

my_set.add("burger")
my_set.remove("taco")

print(f"set: {my_set}") # notice 'pizza' only appears once


# --- tuples (the locked one) ---
# use this for data that shouldn't be messed with
my_tuple = ("london", "paris", "new york")

# my_tuple[0] = "tokyo" <- this would crash (immutable)
# my_tuple.append("berlin") <- this would also crash

print(f"tuple: {my_tuple}")
print(f"item 1: {my_tuple[1]}") # indexing still works

list: ['blueberry', 'date']
set: {'pizza', 'sushi', 'burger'}
tuple: ('london', 'paris', 'new york')
item 1: paris